/*Sublimate Theme*/
/*iivii || iiviigames@pm.me*/
/*https://odd.codes	||	https://github.com/iiviigames*/
/*=========================================*/

/*	WEB APP THEME*/
/*=========================================*/
	/*	LEFT PANEL	*/
		/*	LEFT SIDE PROJECT SELECTOR	*/
			#splitter-td {
				border-color:	#292D3DeF;
				background: 	#253137FF;
			}
			#main #editor-td {
				background-color: #000;
				color: #676E95;
			}
	/*	BROWSER TAB AREA	*/

		/*	PROJECT NAME	*/
		#game-td .chrome-tabs input,
		#game-td .chrome-tabs select {
			color: #C3E88D;
			border-color: #717CB440;
		}
		#game-td .chrome-tabs input[type="button"] {
			background: #292D3E;
		}
		#game-td .chrome-tabs input[type="button"]:hover {
			background: #4E557980;
		}
		#game-td .chrome-tabs select {
			background-color: #959DCB;
			background-position: center right 6px;
			background-image: url(data:image/bmp;base64,Qk1mAAAAAAAAADYAAAAoAAAABQAAAAMAAAABABgAAAAAAAAAAADEDgAAxA4AAAAAAAAAAAAANzc3Nzc3////Nzc3Nzc3/zc3N////////////zc3N///////////////////////);
		}
		/*PROJECT NAME COLOR*/
		.project-name {
			color: #FFB871;
			text-shadow: #00000010;
		}
		/*Color of Script Tabs*/
		.chrome-tabs .chrome-tab:not(.chrome-tab-current):hover .chrome-tab-background > svg .chrome-tab-background {
			fill: #212d40;
			border: solid 0.5px #f3f2f1;
		}
	/*	TREE AND ICONS	*/
			/*ASSET NAMES IN LEFT SIDEBAR*/
				.treeview {
					background: #21252b;
					color: #f3f2f18a;
				}
			/*HEADER AND ITEM HOVER*/
				.treeview .header:hover, .treeview .header:hover > span,
				.treeview .item:hover, .treeview .item:hover > span {
					color: #21252b;
				}
			/*LEFT BORDER*/
				.treeview .dir .header, .treeview .item, .treeview .items {
					border-left-color: #3A3F58;
				}
			/*BEFORE/IMAGE URL*/
				.treeview .dir > .header:before, .treeview .item:before {
					background-image: url(tree.png);
					opacity: 50%;
					background-size: auto 100%;
				}
	/*	POPOUT WINDOW	*/
		.popout-window {
			background-color: rgba(0, 0, 0, 0.8);
			border-color: #717CB440;
			color: #B2CCD6;
		}
		.popout-window fieldset {
			border: 1px solid #495057;
		}
		.popout-window a {
			color: #FFB871;
		}
		.popout-window input[type="text"],
		.popout-window select {
			border: 1px solid #495057;
			background: #222;
			color: white;
		}
	/*	GUTTER	*/
			#main .ace_gutter,
			#main .ace_status-bar {
				background-color: #2B343B;
				/*background-color: #4E557980;*/
				color: #FFFFFF;
				border-color: #3A3F58;
			}
	/*	STATUS BAR	*/

		/*Whole Status Bar Size/Color*/
			#main .ace_status-bar {
				color: #f3f3f3;
				background-color: #00000010;
			}
		/*Row and Row number text*/
			#main .ace_status-bar .row-label {color:#ff595e ;}
			#main .ace_status-bar .row {color: #1982c4;}
		/*Column and Col number text*/
			#main .ace_status-bar .col-label {color:#ff595e ;}
			#main .ace_status-bar .col {color: #b9e769;}
		/*The name of the function that is being hinted*/
			#main .ace_status-bar .context-txt {
				color: #FFB871;
			}
		/*Arguments in the hinted function*/
			#main .ace_status-comp .argument.current {
				color: #A6E22E;
   		}
	/*	STATUS BAR - HINTS*/
		#main #ace_status-hint, #main .ace_status-bar .context-pre {
			border-color: #495057;
		}
		#main #ace_status-hint .argument.current {
			color: white;
		}
		#main .ace_gutter-active-line {
			background-color: #00000030;
		}
		#main .ace_marker-layer .ace_selection,
		#main .ace_marker-layer .ace_selected-word {
			background-color: #717CB440;
			border-radius: 0;
		}
		#main .ace_marker-layer .ace_selected-word {
			border: none;
		}
	/*	ACE GUTTER AND LINES	*/
			/*TEXT SHADOWS*/
				#main .ace_gutter-define:not(:first-child) {
					box-shadow: 0 1px 0px #00000010 inset;
				}
			/*PREPROCESSOR HIGHLIGHTS*/
				#main .gml .ace_line:not(:first-child) .ace_preproc.ace_define::after,
				#main .gml .ace_line:not(:first-child) .ace_preproc.ace_section::after,
				#main .gml .ace_line:not(:first-child) .ace_preproc.ace_event::after {
					background-color: #00000030;
				}
	/*	APP STYLES	*/
		/*APP AUTOCOMPLETE & TOOLTIPS*/
			#app .ace_editor.ace_autocomplete, .ace_tooltip {
				background: #1F1F1F;
				color: #82AAFF;
				border-color: #FFFFFF;
			}
		/*APP AUTOCOMPLETE & MARKER LAYER*/
			#app .ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
				background: #495057;
			}
	/*	ACE STYLES	*/

		/*ACE BACKGROUND/FOREGROUND*/
			.ace-tm {
					/*background-color: #253137FF;*/
					background-color: #292D3E;
					color: #C0C0C0;
				}
		/*PRINT MARGIN BACKGROUND*/
				.ace-tm .ace_print-margin {
					background-color: #292D3E;
				}
	/*	MAIN STYLES	*/
		/*MAIN WINDOW ACTIVE SCRIPT SELECTION BACKGROUND/HIGHLIGHTS*/
				#main .ace_active-line {
					background: rgba(73, 80, 97, 0.4);
				}
		/*MAIN WINDOW CURSOR COLOR*/
			#main .ace_cursor {z
				color: #FFCC00;
				border-left-width: 1px;
			}
		/*MAIN WINDOW INDENT GUIDE IMAGES*/
			#main .ace_indent-guide {
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHB3d/8PAAOIAdULw8qMAAAAAElFTkSuQmCC) right repeat-y;
			}
		/*MAIN WINDOW CODE FOLDING BG & BORDER COLORS*/
			#main .ace_fold {
				background-color: #7AA6DA;
				border-color: #DEDEDE;
			}
		/*MAIN WINDOW COMMENT TEXT COLOR*/
			#main .gml .ace_comment {
				color: #B2CCD6;
			}
			/*MAIN WINDOW EVENT TEXT COLOR*/
			#main .gml .ace_eventtext {
				color: #80A8FFFF;
			}
		/*MAIN WINDOW ACE HIGHLIGHTER COMMENTS*/
			#main .gml .ace_comment.ace_link {
				color: #009485FF;
			}
		/*NAMES AFTER #DEFINED SCRIPTS/EVENTS, SECTIONS, ETC.*/
			#main .gml .ace_regionname,
			#main .gml .ace_sectionname,
			#main .gml .ace_momentname,
			#main .gml .ace_scriptname,
			#main .gml .ace_eventkeyname,
			#main .gml .ace_eventname {
				color: #FF5370;
			}
		/*ACE/GML PARENTHESIS, LOCAL FIELDS*/
			#main .gml .ace_curly.ace_paren,
			#main .gml .ace_localfield {
				color:##80A8FFFF;
			}
			/*ACE/GML FIELDS*/
			#main .gml .ace_field {
				color: ##F78E6EFF;
				/*color: #CC9FFF;*/
			}
		/*ACE/GML ASSETS,MACROS,NAMESPACES,CONSTANTS*/
			#main .gml .ace_asset,
			#main .gml .ace_macro,
			#main .gml .ace_macroname,
			#main .gml .ace_namespace,
			#main .gml .ace_constant {
				color: #F07076FF;
			}
		/*ACE/GML GLOBAL VARS/FIELDS*/
			#main .gml .ace_globalvar,
			#main .gml .ace_globalfield {
				color: #FF7EFF;
			}
		/*GML/ACE VARIABLES*/
			#main .gml .ace_variable {
				color: #FFD569;
				/*color: #FFFFFF;*/
			}
		/*ACE/GML LOCALS AND FLOWLABELS*/
			#main .gml .ace_local,
			#main .gml .ace_flowlabel {
				color: #A6E22E;
			}
		/*ACE/GML TYPES, FUNCS/EXTFUNCS, EXTMACS, EXTSCRIPTS*/
			#main .gml .ace_type,
			#main .gml .ace_function,
			#main .gml .ace_extfunction,
			#main .gml .ace_extmacro,
			#main .gml .ace_script,
			#main .gml .ace_quasi.ace_paren {
				color: #FFAA6B;
				font-weight: bold;
			}
		/*ACE/GML KEYWORDS*/
			#main .gml .ace_keyword {
				color: #FFAA6B;
				font-weight: bold;
			}
		/*ACE/GML PREPROCESSORS (DOCSTRING "@"!)*/
			#main .gml .ace_preproc {
				color: #FFC400;
			}
		/*ACE/GML NUMERICAL VALUES, ENUMS, & MOMENTS*/
			#main .gml .ace_numeric,
			#main .gml .ace_enum,
			#main .gml .ace_enumfield,
			#main .gml .ace_momenttime {
				color: #AE81FF;
			}
		/*ACE/GML STRINGS*/
			#main .gml .ace_string {
				color: #E6DB74;
			}

		/*MAIN WINDOW SEARCH*/
			#main .ace_search {
				background: #505050;
				color: #d0d0d0;
				border-color: rgba(0, 0, 0, 0.5);
			}
		/*MAIN WINDOW SEARCH & BUTTON*/
			#main .ace_search .ace_button {
				color: #F8F8F8;
			}
		/*MAIN WINDOW SEARCH & BUTTON - HOVER*/
			#main .ace_search .ace_button:hover {
				background-color: #C3E88D;
			}
		/*MAIN WINDOW SEARCH CLOSE BUTTON*/
			#main .ace_search .ace_searchbtn_close {
				color: #000000;
			}
		/*EDITOR SCROLLBARS*/
			/*RIGHT SIDE SCROLLBARS*/
			#main .ace_editor > .ace_scroller:not([style*="right: 0"]) {
				right: 12px !important;
			}
		/*BOTTOM SCROLLBARS*/
			#main .ace_editor > .ace_scroller:not([style*="bottom: 0"]) {
				bottom: 12px !important;
			}
		/*HORIZONTAL SCROLLBARS*/
			#main .ace_editor .ace_scrollbar-h {
				right: 12px !important;
			}
		/*VERTICAL SCROLLBARS*/
			#main .ace_editor .ace_scrollbar-v {
				bottom: 12px !important;
			}
	/*	SYSTEM BUTTONS	*/
		/*	BUTTON HOVER BACKGROUND*/
			.system-button:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}
		/*	BUTTON ACTIVE BACKGROUND*/
			.system-button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}
		/*	BUTTON CLOSE, MINIMIZE, PREFS - FILL COLOR*/
			.system-button.close svg polygon,
			.system-button.minimize svg rect,
			.system-button.preferences svg rect {
				fill: white;
			}
			.system-button.maximize svg rect {
				stroke: white;
			}
			/* */
			::-webkit-scrollbar {
				background: #000;
				width: 12px;
				height: 12px;
			}
			::-webkit-scrollbar-thumb {
				background-color: #555555;
				border-radius: 6px;
				border: 2px solid black;
				min-height: 40px;
			}
			::-webkit-scrollbar-thumb:hover {
				background-color: #777;
			}
			::-webkit-scrollbar-corner {
			    background: #000;
			}
			::-webkit-scrollbar-track {
				background-color:#000;
			}

			#main .gml .ace_script {
				color: #66D9EF;
			}

			/*#main .gml .ace_variable {
				color: #FFFFFF;
			}*/


/*	ACE THEME	*/
/*=========================================*/

	/*NORMAL TEXT*/
		#main .ace-tm {
			color: #959DCB;
		}
	/*KEYWORDS W/ '#' PREFIXES*/
		#main .ace-tm .ace_constant,
		#main .ace-tm .ace_extmacro {
			color: #C792EA;
			font-style: italic;
			font-weight: 700;
		}
	/*STRINGS*/
		#main .ace-tm .ace_string {
			color: #C3E88D;
		}
	/*NUMERICAL VALUES*/
		#main .ace-tm .ace_numeric,
		#main .ace-tm .ace_momenttime {
			color: #C792EA;
		}
	/*LOCAL VARIABLES*/
		#main .ace-tm .ace_variable {
			/*color: #ED9209;*/
			color: #82AAFF;
			font-style: italic;
		}
	/*BUILT-IN GML FUNCTIONS & EXTENDED FUNCTIONS*/
		#main .ace-tm .ace_function{
			color: #E5E500;
		}		

		#main .ace-tm .ace_extfunction {
			color: #FFCB6B;
		}
	/*USER SCRIPTS*/
		#main .ace-tm .ace_script {
			color: #C792EA;
			font-weight: normal;
			font-style: normal;
		}
	/*ASSETS, NAMESPACES, & TYPES*/
		#main .ace-tm .ace_asset,
		#main .ace-tm .ace_namespace,
		#main .ace-tm .ace_type {
			color: #F07178;
		}
	/*ENUM - IDS*/
		#main .ace-tm .ace_enum {
			color: #FF5370;
		}
	/*ENUM - ENTRIES*/
		#main .ace-tm .ace_enumfield {
			color: #82AAFF;
		}
	/*MACRO DEFINITIONS & NAMES*/
		#main .ace-tm .ace_macro,
		#main .ace-tm .ace_macroname {
			color: #c3e845;
		}
	/*KEYWORDS & PREPROCESSORS*/
		#main .ace-tm .ace_keyword{
			color: #C792EA;
			font-style: normal;
			font-weight: bold;
		}	

		#main .ace-tm .ace_preproc {
			/*color: #F78C6C;*/
			color: #82AAFF;
			font-style: normal;
			font-weight: bold;
		}
	/*CURLY BRACES*/
		#main .ace-tm .ace_curly.ace_paren {
			color: #B2CCD6;
			font-style: normal;
			/*font-weight: bold;*/
		}
	/*GUTTER*/
		#main .ace-tm .ace_gutter {
			color: #40C3F4;
			/*color: #ff4e00;*/
		}


/*	CODE AND EDITOR THEME*/
/*=========================================*/
	/*CODE EDITOR BACKGROUND*/
		#main .ace-tm {
			background-color: #292D3E;
		}
	/*SELECTED TEXT*/
		#main .ace-tm .ace_selected-word {
			background-color: #DDDFE10a;
		}
	/*CURRENT ACTIVE LINE HIGHLIGHT*/
		#main .ace-tm .ace_active-line {
			background-color:	#00000030;
		}
	/*SELECTION HIGHLIGHTS*/
		#main .ace-tm .ace_selection {
			background-color:	#717CB440;
		}
	/*NORMAL CODE STYLE*/
		#main .ace-tm {
			color: #959DCB;
		}
	/*COMMENT STYLE*/
		#main .ace-tm .ace_comment,
		#main .ace-tm .ace_eventtext {
			color: #676E95;
			font-style: italic;
			font-weight: normal;
		}
	/*EXTERNAL MACROS*/
		#main .ace-tm .ace_constant{
			color: #b9e769;
			font-style: normal;
			font-weight: 350;
		}		
		/*EXTERNAL SYNTAX MACROS*/
		#main .ace-tm .ace_extmacro {
			color: #C792EA;
			font-style: normal;
			font-weight: 350;
		}
	/*STRINGS*/
		#main .ace-tm .ace_string {
			color: #C3E88D;
			font-style: oblique;
			font-weight: 200;
		}
	/*NUMERICAL VALUES*/
		#main .ace-tm .ace_numeric,
		#main .ace-tm .ace_momenttime {
			color: #F07178;
			font-weight: normal;
		}
	/*BUILT-IN GML VARIABLES*/
		#main .ace-tm .ace_variable {
			color: #89DDFF;
			font-style: normal;
			font-weight: 450;
		}
	/*OBJECT VARIABLES*/
		#main .ace-tm .ace_field {
			color: #C792EA;
			font-style: normal;
			font-weight: normal;
		}
		/*Extension Local Variables, ie ROA stuff */
		#main .ace-tm .ace_localfield {
			color: #82AAFF;
			font-style: italic;
		}
	/*BUILT-IN GML FUNCTIONS & EXTENDED CUSTOM FUNCTIONS*/
		#main .ace-tm .ace_function {
			color: #FFCB6B;
			font-style: normal;
			font-weight: 500;
			/*font-weight: bold;*/
		}
		#main .ace-tm .ace_extfunction {
			color: #faf0ca;
			font-style: normal;
			font-weight: 500;
			/*font-weight: bold;*/
		}
		/*			color: 7986cb;*/
	/*USER MADE SCRIPTS*/
		#main .ace-tm .ace_script {
			color: #FF6BE3;
			font-style: normal;
			font-weight: 450;
		}
	/*ENUM - ID'S*/
		#main .ace-tm .ace_enum {
			color: #F9355A;
			font-style: normal;
			font-weight: 550;
			/*font-weight: bold;*/
		}
	/*ENUM - ENTRIES*/
		#main .ace-tm .ace_enumfield {
			color: #82AAFF;
		}
	/*MACRO/*/
		#main .ace-tm .ace_macro{
			color: #f8961e;
			font-style: italic;
			font-weight: 350;
		}		
	/*MACRO NAMES*/
		#main .ace-tm .ace_macroname {
			color: #c3e845;
			font-style: italic;
			font-weight: 350;
		}
	/*LOCAL VARIABLES*/
		#main .ace-tm .ace_local,
		#main .ace-tm .ace_sublocal {
			color: #47ACFF;
			font-style: italic;
		}
	/*GLOBAL VARIABLES*/
		#main .ace-tm .ace_globalvar {
			color: #FF91FD;
			font-style: normal;
			font-weight: bold;
		}
	/*GLOBAL FIELDS*/
		#main .ace-tm .ace_globalfield {
			color: #B2CCD6;
			font-style: normal;
			font-weight: normal;
		}
	/*KEYWORDS*/
		#main .ace-tm .ace_keyword {
			color: #FF5370;
			font-style: normal;
			font-weight: 520;
		}
	/*PREPROCESSORS (#define, #region, etc.)*/
		#main .ace-tm .ace_preproc {
			color: #FF91FD;
			font-style: normal;
			font-weight: 380;
			/*font-weight: bold;*/
		}
	/*CURLY BRACKETS*/
		#main .ace-tm .ace_curly.ace_paren {
			color: #B2CCD6;
		}
	/*LINE NUMBER COLOR*/
		#main .ace-tm .ace_gutter {
			color: #ff9250;
			background-color: #253137 
			font-size: 11px;
		}
	/*3A3F58;*/
